<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Url" value="http://google.com" />
        <!-- Browser used for testing. To add support for another browser, add the key below and modify Constants.cs 
        and UITestBase to account for the new browser 
        NOTE: This value is ignored if you run the tests in Release mode. To run and Debug with a local browser, be sure
        to run in Debug mode, as running in Release mode will make the tests run on the SauceLabs server.
        Enter "IE" for Internet Explorer, "chrome" for Google Chrome, and "FireFox" for FireFox. 
        FireFox is supported out-of-the box by Selenium, and is currently the most stable option. -->
    <add key="Browser" value="FireFox"/>

    <add key="SauceLabsAccountName" value="Enter your account name here"/>  
    <add key="SauceLabsAccountKey" value="Enter your key here"/>  
  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>